<% parts = [] %>
<% training_records.each do |training_record| %>
  <% parts << training_record.part %>
<% end %>

<% parts.uniq.each do |part| %>
  <% case part %>
  <% when %>
    '胸'
    <% value = 'chest' %>
  <% end %>
  <% when %>
    '肩'
    <% value = 'shoulder' %>
  <% end %>
  <% when %>
    '腕'
    <% value = 'arms' %>
  <% end %>
  <% when %>
    '背中'
    <% value = 'back' %>
    <div class="<%= value %>_color">
      背
      <span class="sp_hide">中</span>
    </div>
    <% part = nil %>
  <% when %>
    '脚'
    <% value = 'foots' %>
  <% end %>
  <% when %>
    '有酸素'
    <% value = 'aerobics' %>
    <div class="<%= value %>_color">
      有
      <span class="sp_hide">酸</span>
      <span class="sp_hide">素</span>
    </div>
    <% part = nil %>
  <% end %>
  <div class="<%= value %>_color">
    <%= part %>
  </div>
<% end %>
