<%# お問い合わせページ
<div class="row no-gutters">
  <div class="col-2 sidebar border_right"></div>
</div>
<div class="contact_fontsize_15 padding_bottom">
  <div class="contact_header text_align_center fontsize_20 padding_top padding_bottom border_top border_bottom">
    <p class="margin_bottom_0">お問合せ</p>
  </div>
  <div class="contact_box.padding_bothside_30.fontsize_15">
    <p class="margin_top_40">お問合せについて</p>
  </div>
  <p>お問合わせに添付書類がある場合、ウイルスによる事故を回避するため未開封にて削除しております。お問合わせ内容は全て本文にお書き頂きますようお願い致します。<br>
    <br>
      Repに関するお問合せは、こちらのフォームからお願い致します。
  </p>
  <div class="contact_form padding_bothside_30 margin_top_40">
    <div class="contact_form_name margin_bottom_20">
      <p class="margin_bottom_0">お名前</p>
      <input class="input height_input" type="text">/</input>

    </div>
  </div>
</div> %>
